
.content-window-card
    position: relative;
    bottom: 0;
    left: 0;
    width: 250px;
    padding: 8px 9px 11px 9px;
    background url('../assets/images/bg@2x.png') no-repeat
    background-size 100% 100%
    .info-top
        position: relative;
        background: none repeat scroll 0 0 #F9F9F9;
        border-bottom: 1px solid #CCC;
        border-radius: 5px 5px 0 0;
        div
            display: inline-block;
            color: #333333;
            font-size: 14px;
            font-weight: bold;
            line-height: 31px;
            padding: 0 10px;

        img
            position: absolute;
            top: 10px;
            right: 10px;
            transition-duration: 0.25s;
        img:hover
            box-shadow: 0px 0px 5px #000;
    div.info-middle
        font-size 12px
        line-height 20px
        .item
            padding: 10px 10px;
            box-sizing border-box
            overflow: hidden;
            height: 100px;
            box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
            .left
                float: left;
                width: 80px;
                height: 100%;
                img
                    width: 100%;
                    height: 100%;
            .right
                position: relative;
                float: left;
                width: 140px;
                height: 100%;
                margin-left: 10px;
                p:first-child
                    font-size 14px
                p.hint
                    color #666
                .info
                    position: absolute;
                    bottom: 0;
                    display: inline-block;
                    overflow: hidden;
                    width: 100%;
                    #detail
                        color #81a2fc
                        float left
                        width 67px
                        padding: 0 10px;
                        height: 30px;
                        box-sizing: border-box;
                        border: 1px solid #eee;
                        border-radius: 5px;
                        line-height 28px
                        i
                            position relative
                            top 8px
                            font-size 13px
                            margin-right 5px
                            float left
                            background: url('../assets/images/detail@2x.png') no-repeat;
                            background-size: 100% 100%;
                            width: 12px;
                            height: 12px;
                    .btn
                        width 67px
                        text-align center
                        float: right;
                        padding: 5px 10px;
                        box-sizing: border-box;
                        border-radius: 5px;
                        background: #81a2fc;
                        color: #fff;

.content-window-card1
    position: relative;
    bottom: 0;
    left: 0;
    width: 250px;
    padding: 11px 22px 15px 22px;
    background url('../assets/images/bg@2x.png') no-repeat
    background-size 100% 100%
    div.info-middle
        // border-radius 10px
        .item1
            overflow: hidden;
            height: 50px;
            .item-info
                float: left;
                width: 70%;
                padding: 5px;
                box-sizing: border-box;
            .item-btn
                position: relative;
                float: right;
                width: 30%;
                height: 100%;
                background: #14bd7a;
                color: #fff;
                p
                    overflow: hidden;
                    position: absolute;
                    top: 50%;
                    text-align: center;
                    margin-top: -10px;
                    padding: 0 5px;
                    box-sizing: border-box;
                    width: 100%;
                    i
                        float: left;
                        width: 20px;
                        height: 20px;
                        background: url('../assets/images/daohang-1@2x.png') no-repeat;
                        background-size: 100%;

    div.info-bottom
        height: 0px;
        width: 100%;
        clear: both;
        text-align: center;
        img
            position: relative;
            z-index: 104;
